html(lang="en")
    head
        meta(charset="utf-8")
        title CEA
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/index.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js", defer)
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous", defer)
        script(src="js/index.js", defer)

    body.overlay
        main.overlay-content
            form#loginForm.centreForm
                .form-group
                    label Please enter your username
                    input#username.centreInput.form-control.input-lg(type="text",
                        placeholder="Username", pattern="^[a-zA-Z0-9-_\.]{2,20}$",
                        title="2-20 alphanumeric characters", required, autofocus)
                input#login.btn.btn-success.btn-lg(type="submit", value="Login")
            form#infoForm
                .form-group.row
                    label.col-md-2.col-form-label Username
                    .col-md-4
                        p#name.form-control-static
                .form-group.row
                    label.col-md-2.col-form-label Age
                    .col-md-4
                        // pattern is only a fallback, and default step is 1
                        input#age.form-control(type="number", placeholder="Age",
                            pattern="\d+", min="15" max="100", required, autofocus)
                .form-group.row
                    label.col-md-2.col-form-label Country
                    .col-md-4
                        input#country.form-control(type="text", placeholder="Country of birth",
                            pattern="^[a-zA-Z][a-zA-Z ]{1,20}$",
                            title="2-20 alphabetic characters", required)
                .form-group.row
                    label.col-md-2.col-form-label Gender
                    .col-md-4
                        label.form-check-inline
                            input#male.form-check-input(type="radio", name="gender", checked)
                            label Male
                        label.form-check-inline
                            input#female.form-check-input(type="radio", name="gender")
                            label Female
                .form-group.row
                    .col-md-7.col-md-offset-2
                        input.btn.btn-lg.btn-primary(type="submit", value="Submit")
            form#courseForm.centreForm
                .header
                    .form-group
                        label Choose courses you have taken
                    input#startInterest.twoButton.btn.btn-lg.btn-success(type="submit", value="Submit")
                ul#editions.newlist
            form#interestForm.dataCollection
                .form-group.row
                    label.col-md-2.col-form-label Departments
                    .col-md-4
                        select#departments.select
                .form-group.row
                    label.col-md-2.col-form-label Topics
                    .col-md-4
                        select#topics.select
                .form-group.row
                    label.col-md-2.col-form-label Rating
                    .col-md-4
                        input#interestRating.form-control.rating(type="number", placeholder="Rating",
                            pattern="\d+", min="1" max="5", required)
                .form-group.row
                    .col-md-7.col-md-offset-2
                        input#addTopicInt.btn.btn-lg.btn-primary(type="submit", value="Save")
                        input#startSkill.btn.btn-lg.btn-success.next(value="next")
            form#skillForm.dataCollection
                .form-group.row
                    label.col-md-2.col-form-label Departments
                    .col-md-4
                        select#departmentsSkill.select
                .form-group.row
                    label.col-md-2.col-form-label Skills
                    .col-md-4
                        select#skills.select
                .form-group.row
                    label.col-md-2.col-form-label Rating
                    .col-md-4
                        input#skillRating.form-control.rating(type="number", placeholder="Rating",
                            pattern="\d+", min="1" max="5", required)
                .form-group.row
                    .col-md-7.col-md-offset-2
                        input#addSkill.btn.btn-lg.btn-primary(type="submit", value="Save")
                        input#startData.btn.btn-lg.btn-success.next(value="Next")
            form#dataForm.new
                label.center Enter your course inforamtion
                input#skipData.bu.btn.btn-lg.btn-info(value="Skip")
                input.bu.btn.btn-lg.btn-success(type="submit", value="Submit")
            form#newTopicForm.centreForm
                .header
                    .form-group
                        label Enter new topics
                        input#topic.centreInput.form-control.input-lg(type="text", placeholder="new topic",
                            pattern="^[a-zA-Z][a-zA-Z ]{1,20}$", title="2 to 20 alphabetic characters", required, autofocus)
                    input#addTopic.twoButton.btn.btn-lg.btn-info(type="submit", value="Add")
                    input#doneNewTopic.twoButton.btn.btn-lg.btn-success(value="Next")
                ul#newTopics.newList
            form#newSkillForm.centreForm
                .header
                    .form-group
                        label Enter new skills
                        input#skill.centreInput.form-control.input-lg(type="text", placeholder="new skills",
                            pattern="^[a-zA-Z][a-zA-Z ]{1,20}$", title="2 to 20 alphabetic characters", required, autofocus)
                    input#addSkill.twoButton.btn.btn-lg.btn-info(type="submit", value="Add")
                    input#doneNewSkill.twoButton.btn.btn-lg.btn-success(value="Next")
                ul#newSkills.newList
            #snackbar
