html(lang="en")
    head
        meta(charset="utf-8")
        title CEA
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/index.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js", defer)
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", defer)
        script(src="js/index.js", defer)

    body
        .overlay
            .overlay-content
                form#loginForm
                    .form-group
                        label Please enter your username
                        input#username.form-control.input-lg(type="text", 
                            placeholder="Username", pattern="^[a-zA-Z0-9-_\.]{2,20}$", 
                            title="2-20 alphanumeric characters", required, autofocus)
                    input#login.btn.btn-success.btn-lg(type="submit", value="Login")
                form#infoForm
                    .form-group.row
                        label.col-md-2.col-form-label Username
                        .col-md-4
                            p#name.form-control-static
                    .form-group.row
                        label.col-md-2.col-form-label Age
                        .col-md-4
                            // pattern is only a fallback, and default step is 1 
                            input#age.form-control(type="number", placeholder="Age", 
                                pattern="\d+", min="12" max="100", required, autofocus)
                    .form-group.row
                        label.col-md-2.col-form-label Country
                        .col-md-4
                            input#country.form-control(type="text", placeholder="Country of birth", 
                                pattern="^[a-zA-Z][a-zA-Z ]{1,20}$", 
                                title="2-20 alphabetic characters", required)
                    .form-group.row
                        label.col-md-2.col-form-label Gender
                        .col-md-4
                            label.form-check-inline
                                input#male.form-check-input(type="radio", checked) 
                                label Male 
                            label.form-check-inline
                                input#female.form-check-input(type="radio")
                                label Female
                    .form-group.row
                        .col-md-7.col-md-offset-2
                            button.btn.btn-lg.btn-primary(type="submit") Submit
