html(lang="en")
    head
        meta(charset="utf-8")
        title CEA
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/index.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js", defer)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js", defer)
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous", defer)
        script(src="js/index.js", defer)

    body.overlay
        main.overlay-content
            form#loginForm
                .form-group
                    label Please enter your username
                    input#username.form-control.input-lg(type="text",
                        placeholder="Username", pattern="^[a-zA-Z0-9-_\.]{2,20}$",
                        title="2-20 alphanumeric characters", required, autofocus)
                input#login.btn.btn-success.btn-lg(type="submit", value="Login")
            form#infoForm
                .form-group.row
                    label.col-md-2.col-form-label Username
                    .col-md-4
                        p#name.form-control-static
                .form-group.row
                    label.col-md-2.col-form-label Age
                    .col-md-4
                        // pattern is only a fallback, and default step is 1
                        input#age.form-control(type="number", placeholder="Age",
                            pattern="\d+", min="15" max="100", required, autofocus)
                .form-group.row
                    label.col-md-2.col-form-label Country
                    .col-md-4
                        input#country.form-control(type="text", placeholder="Country of birth",
                            pattern="^[a-zA-Z][a-zA-Z ]{1,20}$",
                            title="2-20 alphabetic characters", required)
                .form-group.row
                    label.col-md-2.col-form-label Gender
                    .col-md-4
                        label.form-check-inline
                            input#male.form-check-input(type="radio", name="gender", checked)
                            label Male
                        label.form-check-inline
                            input#female.form-check-input(type="radio", name="gender")
                            label Female
                .form-group.row
                    .col-md-7.col-md-offset-2
                        input.btn.btn-lg.btn-primary(type="submit", value="Submit")
            form#courseForm
                .header
                    .form-group
                        label Enter editions you took (click to remove)
                        input#code.form-control.input-lg(type="text", placeholder="CSC108",
                            pattern="[A-Z]{3,3}[0-9]{3,3}", title="format ABC210", required, autofocus)
                        input#semester.form-control.input-lg(type="text", placeholder="f|w|s",
                            pattern="f|w|s", title="should only be f, w or s", required)
                        input#year.form-control.input-lg(type="number", placeholder="2016"
                            pattern="\d+", required)
                        input#timeOfDay.form-control.input-lg(type="text", placeholder="m|a|e"
                            pattern="m|a|e", required)
                    input#addCourse.btn.btn-lg.btn-info(type="submit", value="Add")
                    input#startInterest.btn.btn-lg.btn-success(value="Next")
                ul#editions
            form#interestForm
                .form-group.row
                    label.col-md-2.col-form-label Departments
                    .col-md-4
                        select#departments
                .form-group.row
                    label.col-md-2.col-form-label Topics
                    .col-md-4
                        select#topics
                .form-group.row
                    label.col-md-2.col-form-label Rating Before
                    .col-md-4
                        input#interestRankingBefore.form-control(type="number", placeholder="Rating",
                            pattern="\d+", min="1" max="5", required)
                .form-group.row
                    label.col-md-2.col-form-label Rating After
                    .col-md-4
                        input#interestRankingAfter.form-control(type="number", placeholder="Rating",
                            pattern="\d+", min="1" max="5", required)
                .form-group.row
                    .col-md-7.col-md-offset-2
                        input#addTopicInt.btn.btn-lg.btn-primary(type="submit", value="Submit")
                        input#startSkill.btn.btn-lg.btn-success(value="Next")
            form#dataForm
                label.center Enter your course inforamtion
                input#skipData.btn.btn-lg.btn-info(value="Skip")
                input#startNew.btn.btn-lg.btn-success(type="submit", value="Submit")
                //- .panel.panel-default
                //-     .panel-heading
                //-         .panel-title
                //-             a.collapsed(data-toggle="collapse" data-parent="#dataForm" href="#collapseOne") Collapsible Group Item #1
                //-     #collapseOne.panel-collapse.collapse Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            #snackbar
